/* Background pattern from Toptal Subtle Patterns */
body, html { 
		background-image:url("whitewall.png");
		height:100%;
		font-family:Palatino, Charcoal, sans-serif;
	}
	
#hours {
	background-color:#8dcaff;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:8px;
	text-align:right;
	
}
#navHeader {
		margin-top:9%;
}
.navLogo {
		display:inline-block;
		float:left;
		padding:0;
}

.navBar {
		width:100%;
		height:220px;
		display:inline-block;
		list-style-type:none;
		background: white;
		text-align:right;
	}
	
.navBar li {
		display:inline;		
}

.navBar a {
		display:inline-block;
		color:black;
		text-align:center;
		padding:14px 16px;
		text-decoration:none;
}

.navBar a:hover {
		color:#8dcaff;		
}

.activeItem a {
		display:inline-block;
		color:white;
		text-align:center;
		padding:14px 16px;
		text-decoration:none;
		background-color:#686868;
		border-radius:4px;
}

.activeItem a:hover {
	color:#8dcaff;
}